@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", cursive;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.04em;
  background-color: rgb(255, 255, 255);
}

/* зображення переводи з лінійних в блочні */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: none;
}

.container {
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

address {
  font-style: normal;
}

/* Прибираю оформлення посилання */
a {
  text-decoration: none;
}

/* Прибираю точки в списку */
ul {
  list-style-type: none;
}

/* прибираєм зайве в посилланнях та списку */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Прибираємо всі відступи (обнуляємо показники) */
h1,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --grey-text-color: rgba(144, 126, 130, 1);
  --black-text-color: rgba(0, 0, 0, 1);
  --white-text-color: rgba(255, 255, 255, 1);
  --pink-text-color: rgba(212, 20, 67, 1);
  --secondary-pink-text-color: rgba(255, 165, 186, 1);
  --bg-color-pink: rgba(255, 184, 202, 1);
  --bg-color-secondary-pink: rgba(255, 245, 246, 1);
  --btn-static-color: rgba(255, 255, 255, 1);
  --btn-hover-color: rgba(236, 235, 235, 1);
  --btn-active-color: rgba(212, 19, 66, 1);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bg-color-third-pink: rgba(240, 209, 165, 1);
  --bg-color-green: rgba(194, 226, 151, 1);
  --grey-border-color: rgba(225, 225, 225, 1);
}

.section-about {
  background-color: var(--bg-color-secondary-pink);
  padding-top: 125px;
  padding-bottom: 39px;
}

.section-about__lable {
  color: var(--secondary-pink-text-color);
}
@media screen and (min-width: 480px) {
  .section-about__lable {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .section-about__lable {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .section-about__lable {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.ection-abaut__title {
  color: var(--pink-text-color);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  padding-left: 9px;
}
@media screen and (min-width: 480px) {
  .ection-abaut__title {
    font-size: 34px;
    line-height: 1.15;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 768px) {
  .ection-abaut__title {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .ection-abaut__title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 55px;
  }
}

.section-about__text-desc {
  color: var(--black-text-color);
  position: absolute;
  font-weight: 500;
  font-style: normal;
}
@media screen and (min-width: 480px) {
  .section-about__text-desc {
    font-size: 12px;
    line-height: 1.58;
    margin-top: 46px;
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 768px) {
  .section-about__text-desc {
    font-size: 14px;
    line-height: 1.79;
    margin-top: 50px;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .section-about__text-desc {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 4px;
    margin-bottom: 35px;
  }
}

.section-about__text-lead {
  color: var(--grey-text-color);
  font-weight: 500;
  position: absolute;
  font-style: normal;
}
@media screen and (min-width: 480px) {
  .section-about__text-lead {
    font-size: 12px;
    line-height: 1.58;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .section-about__text-lead {
    font-size: 14px;
    line-height: 1.79;
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .section-about__text-lead {
    font-size: 14px;
    line-height: 1.93;
    margin-bottom: 35px;
  }
}

.section-about__text-tagline {
  color: var(--grey-text-color);
  font-weight: 500;
  position: absolute;
  font-style: normal;
}
@media screen and (min-width: 480px) {
  .section-about__text-tagline {
    font-size: 12px;
    line-height: 1.58;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section-about__text-tagline {
    font-size: 14px;
    line-height: 1.79;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section-about__text-tagline {
    font-size: 14px;
    line-height: 1.93;
    margin-bottom: 40px;
  }
}

.section-about__button {
  color: var(--btn-active-color);
  background-color: #fff;
  position: relative;
  display: block;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .section-about__button {
    font-size: 14px;
    line-height: 1.29;
  }
}
@media screen and (min-width: 768px) {
  .section-about__button {
    font-size: 16px;
    line-height: 1.31;
  }
}

.contacts {
  margin-bottom: 40px;
  background: linear-gradient var(--white-text-color) 25%, var(--bg-color-secondary-pink) 75%;
}

.contacts__card {
  margin-bottom: 32px;
}

.contacts__list {
  width: 280px;
  margin-bottom: 20px;
  padding: 40px 32px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__list:last-child {
  margin-bottom: 0;
}

.contacts__cell {
  margin-bottom: 24px;
}

.contacts__cell:last-child {
  margin-bottom: 0;
}

.contacts__cafe {
  width: 40%;
  background-color: var(--bg-color-third-pink);
  border-radius: 4px;
  color: var(--white-text-color);
  padding-top: 0;
  text-align: center;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.contacts__foodtruck {
  width: 60%;
  background-color: var(--bg-color-green);
  border-radius: 4px;
  color: var(--white-text-color);
  text-align: center;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.contacts__city {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--black-text-color);
  margin-bottom: 8px;
}

.contacts__text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-text-color);
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey-border-color);
}

.contacts__working-hours-list {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey-border-color);
}

.contacts__working-hours {
  margin-bottom: 8px;
}

.contacts__working-hours:last-child {
  margin-bottom: 0;
}

.contacts__day {
  font-size: 12px;
  line-height: 1.86;
  color: var(--black-text-color);
}

.contacts__text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-text-color);
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey-border-color);
}

.contacts__time {
  font-size: 12px;
  line-height: 1.86;
  color: var(--secondary-pink-text-color);
}

.contacts__tel-email {
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-text-color);
}

.contacts__button {
  width: 55%;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 22px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin-bottom: 10px;
}

.contacts__button:last-child {
  margin-bottom: 0;
}

.contacts__button-red {
  background-color: var(--btn-active-color);
  color: var(--white-text-color);
}

.contacts__button-white {
  background-color: var(--white-text-color);
  color: var(--pink-text-color);
}

.page-footer {
  background-color: #FFF5F6;
}

.page-footer__title {
  margin-bottom: 40px;
}

.page-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__title--little {
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 16px;
}

.page-footer__title--big {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: green;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: green;
  fill: white;
}

.socials__item:not(:last-child) {
  margin-right: 28px;
}

.socials__icon {
  fill: white;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: green;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-box__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
}

.contact-box__phone {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #D41443;
}

.site-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E1E1E1;
}

.site-rights__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907E82;
  padding-top: 16px;
  padding-bottom: 3px;
  max-width: 150px;
}

.gallery {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 320px) {
  .products__label {
    font-size: 18px;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.67;
    text-align: center;
    color: var(--secondary-pink-text-color);
  }

  .container-products__title {
    font-size: 34px;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgb(212, 20, 67);
  }

  .products-item__title {
    font-size: 20px;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-text-color);
  }

  .products-item__description {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-text-color);
  }
}/*# sourceMappingURL=index.css.map */