.section-about {
    background-color: var(--bg-color-secondary-pink);
    padding-top: 125px;
    padding-bottom: 39px;
}

.section-about__lable {
    color: var(--secondary-pink-text-color);

    @media screen and (min-width: 480px) {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
    }

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
        margin-bottom: 15px;
    }
}

.ection-abaut__title {
    color: var(--pink-text-color);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    padding-left: 9px;

    @media screen and (min-width: 480px) {
        font-size: 34px;
        line-height: 1.15;
        margin-bottom: 26px;

    }

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.15;
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.14;
        margin-bottom: 55px;
    }
}

.section-about__text-desc {
    color: var(--black-text-color);
    position: absolute;
    font-weight: 500;
    font-style: normal;

    @media screen and (min-width: 480px) {
        font-size: 12px;
        line-height: 1.58;
        margin-top: 46px;
        margin-bottom: 27px;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.79;
        margin-top: 50px;
        margin-bottom: 19px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.75;
        margin-top: 4px;
        margin-bottom: 35px;
    }
}


.section-about__text-lead {
    color: var(--grey-text-color);
    font-weight: 500;
    position: absolute;
    font-style: normal;

    @media screen and (min-width: 480px) {
        font-size: 12px;
        line-height: 1.58;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.79;
        margin-bottom: 9px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.93;
        margin-bottom: 35px;
    }
}

.section-about__text-tagline {
    color: var(--grey-text-color);
    font-weight: 500;
    position: absolute;
    font-style: normal;

    @media screen and (min-width: 480px) {
        font-size: 12px;
        line-height: 1.58;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.79;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.93;
        margin-bottom: 40px;
    }

}

.section-about__button {
    color: var(--btn-active-color);
    background-color: #fff;
    position: relative;
    display: block;
    width: 176px;
    height: 44px;
    border-radius: 22px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    cursor: pointer;

    @media screen and (min-width: 480px) {
        font-size: 14px;
        line-height: 1.29;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.31;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.31;
    }

}