.container-advantages {
  padding-right: 20px;
  padding-left: 20px;
}
.section-advantages {
  background-color: var(--bg-color-secondary-pink);
  padding-bottom: 28px;
}

.section-advantages__point {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  padding-top: 16px;
  color: var(--pink-text-color);
}

.section-advantages__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  width: 230px;
  padding-top: 20px;
  padding-bottom: 32px;
  /* or 20px */

  color: var(--black-text-color);
}

.item__milk::before {
  content: url(../images/icons/icon-group1.svg);
  width: 33px;
  height: 50px;
}
.item__fruit::before {
  content: url(../images/icons/icon-group2.svg);
  width: 50px;
  height: 50px;
}
.item__icecream::before {
  content: url(../images/icons/icon-group3.svg);
  width: 44px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .section-advantages__list {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-gap: 25px;
  }
  .section-advantages__text {
    width: 180px;
    font-size: 14px;
    line-height: 174%;
  }
  .section-advantages__point {
    font-size: 48px;
    line-height: 55px;
    padding-top: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages__list {
    display: grid;
    grid-template-columns: 288px 288px 288px;
    grid-gap: 115px;
  }
  .section-advantages__text {
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    width: 288px;
    letter-spacing: 0.02em;
  }
  .section-advantages__point {
    font-size: 58px;
    line-height: 66px;
    padding-top: 40px;
  }
}
