:root {
  --grey-text-color: rgba(144, 126, 130, 1);
  --black-text-color: rgba(0, 0, 0, 1);
  --white-text-color: rgba(255, 255, 255, 1);
  --pink-text-color: rgba(212, 20, 67, 1);
  --secondary-pink-text-color: rgba(255, 165, 186, 1);
  --bg-color-pink: rgba(255, 184, 202, 1);
  --bg-color-secondary-pink: rgba(255, 245, 246, 1);
  --btn-static-color: rgba(255, 255, 255, 1);
  --btn-hover-color: rgba(236, 235, 235, 1);
  --btn-active-color: rgba(212, 19, 66, 1);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bg-color-third-pink: rgba(240, 209, 165, 1);
  --bg-color-green: rgba(194, 226, 151, 1);
  --grey-border-color: rgba(225, 225, 225, 1);
  --box-shadow: rgba(212, 20, 67, 0.1);
  --modal-window-bg: rgba(0, 0, 0, 0.2);
}
