@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.93;
  letter-spacing: 0.04em;
  background-color: rgba(255, 255, 255, 1);
}

/* зображення переводи з лінійних в блочні */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: none;
}

.container {
  width: 100%;
  min-width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    width: 700px;
  }

  @media screen and (min-width: 1200px) {
    width: 1050px;
  }
}

// .section {
//   padding-left: 20px;
//   padding-right: 20px;

//   @media screen and (min-width: 768px) {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

address {
  font-style: normal;
}

/* Прибираю оформлення посилання */
a {
  text-decoration: none;
}

/* Прибираю точки в списку */
ul {
  list-style-type: none;
}

/* прибираєм зайве в посилланнях та списку */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Прибираємо всі відступи (обнуляємо показники) */
h1,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
