.contacts {
    background-image: linear-gradient(var(--white-text-color) 20%, var(--bg-color-secondary-pink) 20%);

}

.contacts__card {
    margin-bottom: 32px;



    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
        flex-direction: row;
        margin-right: -20px;
        margin-left: -20px;
    }

}


.contacts__list {
    background-color: var(--white-text-color);
    flex-basis: 280px;
    margin-bottom: 20px;
    padding: 40px 32px;

    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    transition: box-shadow  250ms ease;

    &:hover,
    &:focus {
        box-shadow: 1px 10px 32px rgba(212, 20, 67, 0.5);
    }

    @media screen and (min-width: 768px) {
    flex-basis: calc(100%/3 - 40px);

    margin-bottom: 0;

    margin-right: 32px;

    &:last-child {
        margin-right: 0; 
    }

    }

}

.contacts__list:last-child {
    margin-bottom: 0;
}

.contacts__cell {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

}



.contacts__cafe {
width: 40%;
background-color: var(--bg-color-third-pink);
border-radius: 4px;
color: var(--white-text-color);
padding-top: 0;
text-align: center;


font-size: 12px;
line-height: 1.86;
letter-spacing: 0.04em;

margin-bottom: 20px;

@media screen and (min-width: 768px) {
font-weight: 500;
font-size: 16px;

margin-bottom: 32px;
}


}

.contacts__foodtruck {
    width: 60%;
    background-color: var(--bg-color-green);
    border-radius: 4px;
    color: var(--white-text-color);
    
    text-align: center;
    
    

    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: 70%;
        font-weight: 500;
        font-size: 16px;
        
        margin-bottom: 32px;
    }
}

.contacts__city {
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: var(--black-text-color);

    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px; 
    }

}



.contacts__working-hours-list{
padding-bottom: 24px;
border-bottom: 1px solid var(--grey-border-color);

@media screen and (min-width: 768px) {
    padding-bottom: 32px;
}

}

.contacts__working-hours {
margin-bottom: 8px;

@media screen and (min-width: 768px) {
    margin-bottom: 12px;
}

}

.contacts__working-hours:last-child {
    margin-bottom: 0;
}

.contacts__day {
    font-size: 12px;
    line-height: 1.86;

    color: var(--black-text-color);

    @media screen and (min-width: 768px) {
font-weight: 500;
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
font-weight: 500;
font-size: 16px;
line-height: 1.86;


    }

}

.contacts__text {

font-size: 12px;
line-height: 1.5;

color: var(--grey-text-color);

padding-bottom: 24px;
border-bottom: 1px solid var(--grey-border-color);

@media screen and (min-width: 768px) {
font-weight: 500;
font-size: 14px;
line-height: 1.66;

padding-bottom: 32px;
}

@media screen and (min-width: 1200px) {

font-size: 16px;
line-height: 1.83;
}


}

.contacts__time {
font-size: 12px;
line-height: 1.86;

color: var(--secondary-pink-text-color);

@media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
}

@media screen and (min-width: 1200px) {
    font-size: 16px;

}


}

.contacts__tel-email {

font-size: 12px;
line-height: 1.5;
color: var(--grey-text-color);

@media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
}

@media screen and (min-width: 1200px) {
    font-size: 16px;
}

}

.contacts__button-group {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}



.contacts__button {
width: 55%;
height: 44px;
cursor: pointer;

margin-left: auto;
margin-right: auto;

border: 0;
border-radius: 22px;


display: flex;
align-items: center;
justify-content: center;

font-weight: 700;
font-size: 16px;
line-height: 1.31;

margin-bottom: 10px;

@media screen and (min-width: 768px) {
    width: 30%;
    margin-right: 15px;
    margin-left: 0;

    margin-bottom: 0;

    &:last-child {
        margin-right: 0; 
    }
}

@media screen and (min-width: 1200px) {
    width: 15%;
    margin-right: 12px;

    &:last-child {
        margin-right: 0; 
    }
}

}

.contacts__button--width {
    @media screen and (min-width: 1200px) {
        width: 25%;
    }
}

.contacts__button:last-child {
margin-bottom: 0;
}

.contacts__button-text {
margin-right: 8px;

}

.contacts__button-red {
    background-color: var(--btn-active-color);
    color: var(--white-text-color);

transition: transform 250ms ease, border 200ms ease, color 200ms ease, background-color 200ms ease;

&:hover,
&:focus {
transform: scale(1.1);
        color: var(--pink-text-color);
        background-color: var(--btn-static-color);
        border: 2px solid var(--btn-active-color);
    }
}

.contacts__button-white {
    background-color: var(--white-text-color);
    color: var(--pink-text-color);

    transition: transform 250ms ease, border 200ms ease, color 200ms ease, background-color 200ms ease;

    &:hover,
    &:focus {
    transform: scale(1.1);
            color: var(--pink-text-color);
            background-color: var(--btn-static-color);
            border: 2px solid var(--btn-active-color);
        }
    
}