.article-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;}

.article-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    margin-top: 36px;
    color: aqua;
}