.gallery__section {
  padding-bottom: 80px;

  background: linear-gradient(to bottom, rgba(255, 245, 246, 1) 20%, white 20%);
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
}

.gallery {
  display: grid;

  justify-content: center;
  grid-gap: 2px;
  grid: repeat(12, 8px) / repeat(28, 8px);
}

.gallery__item {
  display: block;

  background-color: transparent;
  border-radius: 10%;
  overflow: hidden;

  &:nth-child(1) {
    grid-area: 5 / 1 / span 4 / span 4;
  }
  &:nth-child(2) {
    grid-area: 4 / 5 / span 4 / span 4;
  }
  &:nth-child(3) {
    grid-area: 8 / 5 / span 4 / span 4;
  }
  &:nth-child(4) {
    border-radius: 5%;
    grid-area: 1 / 9 / span 8 / span 8;
  }
  &:nth-child(5) {
    grid-area: 9 / 9 / span 4 / span 4;
  }
  &:nth-child(6) {
    grid-area: 4 / 17 / span 4 / span 4;
  }
  &:nth-child(7) {
    grid-area: 8 / 17 / span 4 / span 4;
  }
  &:nth-child(8) {
    grid-area: 3 / 21 / span 4 / span 4;
  }
  &:nth-child(9) {
    grid-area: 7 / 21 / span 4 / span 4;
  }
  &:nth-child(10) {
    grid-area: 5 / 25 / span 4 / span 4;
  }

  transition: border-radius box-shadow var(--animation);

  &:hover,
  &:focus {
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(212, 20, 67, 0.3);
  }
}

.gallery__image {
  transition: scale var(--animation);

  .gallery__item:hover & {
    transform: scale(120%);
  }
}
