/*********************** Шапка  ***********************/

.header {
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--bg-color-pink);

    @media screen and (min-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 5;
        background-color: var(--pink-color-third);
    }
}

.logo {
    display: block;
    fill: var(--pink-text-color);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/********************** Меню *******************/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    height: 100%;
    width: 100vw;
    padding-top: 60px;
    background-color: #E17992;
    overflow-y: auto;

    transform: translateX(101%);
    transition: transform 250ms ease;
    z-index: 5;

    @media screen and (min-width: 768px) {
        width: 40vw;
        top: 0;
        right: 0;

    }
}

.menu._active {
    transform: translateX(0);
}

body._lock {
    overflow: hidden;
}

/******************** Кнопка Меню *********************/
.menu__icon {
    background-color: transparent;
    position: relative;
    // top: 0;
    // right: 20px;
    width: 20px;
    height: 14px;
    cursor: pointer;
    z-index: 10;
    border: none;

    transition: transform 300ms ease,
        rotate 300ms ease,
        scale 200ms ease;
        
        &:hover {
                transform: scale(1.4);
        }
}

.menu__icon._active {
    width: 14px;
    height: 14px;
    right: 5%;
    transition: transform 300ms ease,
            rotate 300ms ease,
            scale 200ms ease;
}

.line {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: var(--pink-text-color);
    transition: transform 300ms ease, rotate 300ms ease, scale 200ms ease;
}

.line-1 {
    top: 0;
}

.line-2 {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.line-3 {
    bottom: 0;
    right: 0;
}

.menu__icon._active .line {
    background-color: var(--white-text-color);
}

.menu__icon._active .line-1 {
    top: 45%;
    transform: rotate(-225deg) translate(0px, -45%);
}

.menu__icon._active .line-2 {
    transform: scale(0) translate(0px, -50%);
}

.menu__icon._active .line-3 {
    bottom: 40%;
    transform: rotate(225deg) translate(0px, 40%);
}

/* **************************************** */

.menu-btn {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 48px;
    padding-left: 53px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    color: var(--pink-text-color);
    cursor: pointer;

    transition: transform 200ms ease;

    &:hover {
        transform: scale(1.1);
        border: 2px solid var(--btn-active-color);
    }
}

.menu-btn__icon {
    fill: var(--pink-text-color);
    margin-left: 15px;
}

.header__btn {
    display: none;
}

@media screen and (min-width: 768px) {
    .header__btn {
        display: flex;
        margin-right: 0;
        margin-bottom: 0;
    }
    .menu__icon {
        top: 0;
        left: 38%;
    }
    .menu__icon._active {
        position: absolute;
        top: 30px;
        left: 95%;
        height: 18px;
        width: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .header__btn {
        padding-left: 37px;
        padding-right: 37px;
    }
    .menu__icon {
        display: none;
    }
    .nav__item:last-child {
        margin-right: 0;
    }
}

.nav__item {
    border-bottom: 1px solid #E18298;

    @media screen and (min-width: 1200px) {
        border: none;
        margin-right: 35px;
        padding-left: 0;
    }
}

.nav__item:first-child {
    border-top: 1px solid #E18298;

    @media screen and (min-width: 1200px) {
        border-top: none;
    }
}

.nav__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0;

    color: var(--white-text-color);

    transition: transform 200ms ease;
        
            &:hover {
                font-size: 16px;
                color: var(--pink-text-color);
            }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.31;

        &:hover {
            transform: scale(1.1);
        }
    }

}

.nav__link--accent {
    color: var(--pink-text-color);
}


/*********************** Герой  ********************/
.hero {
    /* position: relative; */
    background-color: var(--bg-color-pink);
    z-index: 1;
}

.hero__container {
    position: relative;
    padding-top: 58px;
    padding-bottom: 158px;
    z-index: 1; 

        @media screen and (min-width: 768px) {
                padding-bottom: 56px;
                padding-top: 80px;
            }
        @media screen and (min-width: 1200px) {
                padding-bottom: 84px;
                padding-top: 147px;
            }
}

.hero__basic {
    display: flex;
    justify-content: space-between;

    margin-bottom: 61px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 108px;
    }
}

.hero__title {
    margin-bottom: 20px;
    font-family: 'Titan One';

    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-text-color);
    font-size: 26px;
    line-height: 1.15;
    z-index: 10;

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.14;
    }
    @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height:1.16;
    }
}

.accent--title {
    color: var(--pink-text-color);
    font-size: 48px;
    line-height: 0.96;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 0.91;
    }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 0.9;
    }
}

.hero__list {
    display: flex;
    align-items: center;
}

.hero__item:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
}

.hero__btn {
    display: block;
    padding: 8px 13px;
    border-radius: 22px;
    border: 2px solid transparent;

    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    transition: transform 250ms ease, border 200ms ease, color 200ms ease, background-color 200ms ease;
        
        &:hover {
            transform: scale(1.1);
            border: 2px solid var(--btn-active-color);
        }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.29;
        padding: 11px 23px;
    }    
}

.hero__btn--first {
    color: var(--white-text-color);
    background-color: var(--btn-active-color);
        &:hover {     
            color: var(--pink-text-color);
            background-color: var(--btn-static-color);
            border: 2px solid var(--btn-active-color);
        }
}

.hero__btn--last {
    color: var(--pink-text-color);
    background-color: var(--btn-static-color);
        &:hover {         
            border: 2px solid var(--btn-active-color);
        }
}

//  ********** Фоновое графин с молоком **********

.hero__extra::before {
    content: "";
    position: absolute;
    bottom: -25%;
    right: 100%;
    width: 152px;
    height: 154px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../images/tablet/tablet-milk.png);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/tablet/tablet-milk@2x.png);
        }

    @media screen and (min-width: 1200px) {
        width: 213px;
        height: 216px;

        background-image: url(../images/laptop/laptop-milk.png);
                
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/laptop/laptop-milk@2x.png);
        }
    }
}


//  ********** Фоновое вкусно **********
.hero__extra::after {
    content: "";
    position: absolute;
    bottom: -66%;
    right: -411%;
    width: 190px;
    height: 150px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../images/tablet/tablet-girl.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/tablet/tablet-girl@2x.png);
    }

    @media screen and (min-width: 1200px) {
    width: 304px;
    height: 241px;

    background-image: url(../images/laptop/laptop-girl.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/laptop/laptop-girl@2x.png);
    }
    }
}


.hero__extra {
    position: relative;
    left: 10%;
    display: none;

    width: 114px;

    @media screen and (min-width: 768px) {
        display: block;
        left: 20%;
    }
    @media screen and (min-width: 1200px) {
        width: 200px;
    }
}

.hero__text {
    margin-bottom: 7px;
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-text-color);

    @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.43;
    }
}


.hero__btn--more {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--btn-static-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-size: cover;
    cursor: pointer;
    border: 2px solid transparent;

        transition: transform 300ms ease, border 300ms ease;
        
            &:hover {
                transform: scale(1.4);
                border: 2px solid var(--btn-active-color);
            }

    @media screen and (min-width: 1200px) {
            width: 26px;
            height: 26px;
    }
}

/*********************** Картинки *******************/

.hero__img--ellipse {
    position: absolute;
    right: 0;
    bottom: 75px;
    z-index: -1;
}

.hero__img--ice {
    position: absolute;
    right: 32px;
    bottom: 0;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .hero__img--ellipse {
        bottom: 40px;
        right: 40%;
        transform: translateX(40%);
    }

    .hero__img--ice {
        right: 40%;
        bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .hero__img--ellipse {
        bottom: 77px;
        right: 20%;
        transform: translateX(20%);
    }

    .hero__img--ice {
        right: 25%;
        bottom: 0;
    }
}


/* **************************************** */

.hero__amount-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.hero__amount-item {
    position: relative;
}

.hero__amount-item::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--btn-static-color);
    z-index: -1;

    @media screen and (min-width: 1200px) {
        width: 30px;
        height: 30px;
    }
}

.hero__amount-item:not(:last-child) {
    margin-bottom: 16px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 15px;
    }
}

.hero__amount {
    font-family: 'Titan One';

    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--pink-text-color);

        @media screen and (min-width: 1200px) {
            font-size: 46px;
            line-height: 1.15;
        }
}

.hero__amount--label {
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 1.25;
    color: var(--white-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.29;
    }
}

.header__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.nav__list--header {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .header__nav {
        display: none;
    }
}
