/*********************** Шапка  ***********************/

.header {
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--bg-color-pink);

  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
    background-color: var(--pink-color-third);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.logo {
  display: block;
  fill: var(--pink-text-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/********************** Меню *******************/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  height: 100%;
  width: 250px;
  padding-top: 60px;
  background-color: #e17992;
  overflow-y: auto;

  transform: translateX(101%);
  transition: transform 250ms ease;
  z-index: 5;

  @media screen and (min-width: 768px) {
    width: 254px;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 95vw;
    display: flex;
    align-items: center;
    padding-top: 0;
    flex-direction: row-reverse;
    height: 100px;
    pointer-events: none;
    background-color: transparent;
    transform: translateX(0);
  }
}

.menu._active {
  transform: translateX(0);
}

body._lock {
  overflow: hidden;
}

/******************** Кнопка Меню *********************/
.menu__icon {
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 14px;
  cursor: pointer;
  z-index: 10;
  border: none;

  transition: transform 300ms ease, rotate 300ms ease, scale 200ms ease;

  &:hover,
  &:focus {
    transform: scale(1.4);
  }
}

.menu__icon._active {
  width: 14px;
  height: 14px;
  right: 5%;
  transition: transform 300ms ease, rotate 300ms ease, scale 200ms ease;
}

.line {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: var(--pink-text-color);
  transition: transform 300ms ease, rotate 300ms ease, scale 200ms ease;
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.line-3 {
  bottom: 0;
  right: 0;
}

.menu__icon._active .line {
  background-color: var(--white-text-color);
}

.menu__icon._active .line-1 {
  top: 45%;
  transform: rotate(-225deg) translate(0px, -45%);
}

.menu__icon._active .line-2 {
  transform: scale(0) translate(0px, -50%);
}

.menu__icon._active .line-3 {
  bottom: 40%;
  transform: rotate(225deg) translate(0px, 40%);
}

/* **************************************** */

.menu-btn {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 48px;
  padding-left: 53px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--pink-text-color);
  cursor: pointer;

  transition: transform 200ms ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
    border: 2px solid var(--btn-active-color);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: auto;
    padding-left: 37px;
    padding-right: 37px;
    display: none;
  }
}

.menu-btn__icon {
  fill: var(--pink-text-color);
  margin-left: 15px;

  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}

.header__btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: flex;
    margin-right: 0;
    margin-bottom: 0;
  }

  .menu__icon {
    top: 0;
    left: 40%;
  }

  .menu__icon._active {
    position: absolute;
    top: 30px;
    left: 95%;
    height: 18px;
    width: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__icon {
    display: none;
  }

  .nav__item:last-child {
    margin-right: 0;
  }
}

.nav__item {
  border-bottom: 1px solid #e18298;

  @media screen and (min-width: 1200px) {
    border: none;
    margin-right: 35px;
    padding-left: 0;
  }
}

.nav__item:first-child {
  border-top: 1px solid #e18298;

  @media screen and (min-width: 1200px) {
    border-top: none;
  }
}

.nav__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: normal;
  color: var(--white-text-color);

  transition: transform 200ms ease;

  &:hover,
  &:focus {
    font-size: 16px;
    color: var(--pink-text-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.31;
    padding-left: 0;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.nav__link--accent {
  color: var(--pink-text-color);
}

/*********************** Герой  ********************/
.hero {
  background-color: var(--bg-color-pink);
  z-index: 1;
  overflow: hidden;
}

.hero__container {
  position: relative;
  padding-top: 58px;
  padding-bottom: 158px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    padding-bottom: 56px;
    padding-top: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 84px;
    padding-top: 147px;
  }
}

.hero__basic {
  display: flex;
  justify-content: space-between;

  margin-bottom: 61px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 108px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: 'Titan One';

  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-text-color);
  font-size: 26px;
  line-height: 1.15;
  z-index: 10;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.16;
  }
}

.accent--title {
  color: var(--pink-text-color);
  font-size: 48px;
  line-height: 0.96;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero__list {
  display: flex;
  align-items: center;
}

.hero__item:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.hero__btn {
  display: block;
  padding: 8px 13px;
  border-radius: 22px;
  border: 2px solid transparent;

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  transition: transform 250ms ease, border 200ms ease, color 200ms ease,
    background-color 200ms ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
    border: 2px solid var(--btn-active-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.29;
    padding: 11px 23px;
  }
}

.hero__btn--first {
  color: var(--white-text-color);
  background-color: var(--btn-active-color);

  &:hover,
  &:focus {
    color: var(--pink-text-color);
    background-color: var(--btn-static-color);
    border: 2px solid var(--btn-active-color);
  }
}

.hero__btn--last {
  color: var(--pink-text-color);
  background-color: var(--btn-static-color);

  &:hover,
  &:focus {
    border: 2px solid var(--btn-active-color);
  }
}

//  ********** Фоновое графин с молоком **********

.hero__extra::before {
  content: '';
  position: absolute;
  bottom: -45%;
  right: 100%;
  width: 152px;
  height: 154px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/tablet/tablet-milk.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/tablet/tablet-milk@2x.png);
  }

  @media screen and (min-width: 1200px) {
    bottom: -25%;
    right: 100%;
    width: 213px;
    height: 216px;

    background-image: url(../images/laptop/laptop-milk.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/laptop/laptop-milk@2x.png);
    }
  }
}

//  ********** Фоновое вкусно **********
.hero__basic::after {
  display: none;
  content: '';
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 190px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/tablet/tablet-girl.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/tablet/tablet-girl@2x.png);
  }

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    width: 304px;
    height: 241px;

    background-image: url(../images/laptop/laptop-girl.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/laptop/laptop-girl@2x.png);
    }
  }
}

.hero__extra {
  position: relative;
  left: 10%;
  display: none;

  width: 114px;

  @media screen and (min-width: 768px) {
    display: block;
    left: 20%;
  }

  @media screen and (min-width: 1200px) {
    width: 200px;
  }
}

.hero__text {
  margin-bottom: 7px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.5;
  color: var(--white-text-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.hero__btn--more {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--btn-static-color);
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-size: cover;
  cursor: pointer;

  transition: transform 250ms ease, border 250ms ease;

  &:hover,
  &:focus {
    transform: scale(1.2);
    border: 1px solid var(--btn-active-color);
  }

  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
}

/*********************** Картинки *******************/

.hero__img--ellipse {
  position: absolute;
  right: 0;
  bottom: 75px;
  z-index: -1;
}

.hero__img--ice {
  position: absolute;
  right: 32px;
  bottom: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero__img--ellipse {
    bottom: 40px;
    right: 40%;
    transform: translateX(40%);
  }

  .hero__img--ice {
    right: 40%;
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero__img--ellipse {
    bottom: 77px;
    right: 30%;
    transform: translateX(30%);
  }

  .hero__img--ice {
    right: 35%;
    bottom: 0;
  }
}

/* **************************************** */

.hero__amount-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero__amount-item {
  position: relative;
}

.hero__amount-item::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--btn-static-color);
  z-index: -1;

  @media screen and (min-width: 1200px) {
    width: 30px;
    height: 30px;
  }
}

.hero__amount-item:not(:last-child) {
  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}

.hero__amount {
  font-family: 'Titan One';

  font-size: 28px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--pink-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__amount--label {
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.25;
  color: var(--white-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-right: auto;
    margin-left: auto;
    pointer-events: all;
  }

  .nav__list {
    display: flex;
    align-items: center;
  }
}

// **************************************************************
/* ******************** Модальное окно ******************** */

body.modal-open {
  overflow: hidden;
}

.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pink-color-third);

  transition: visibility 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 101;
}

.hero__modal {
  z-index: 100;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--btn-static-color);
  padding: 20px;

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);

  max-height: 50%;
  overflow-y: auto;
  width: 50vw;

  @media screen and (min-width: 768px) {
    width: 80%;
    max-width: 300px;
  }

  @media screen and (min-width: 1200px) {
    width: 80%;
    max-width: 350px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero__backdrop.is-hidden .hero__modal {
  transform: translate(-100%, -50%);
}

.hero__backdrop.is-hidden .header__modal {
  transform: translate(-50%, -100%);
}

.hero__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--btn-active-color);
    outline-color: var(--btn-active-color);
  }
}

.header__close-icon {
  fill: var(--bg-color-third-pink);
  transition: fill 250ms ease;

  .hero__btn-close:hover &,
  .hero__btn-close:focus & {
    fill: var(--btn-active-color);
  }
}

.hero__close-icon {
  fill: var(--pink-color-fourth);
}

.hero__modal-title {
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  max-width: 165px;
  text-align: left;
  color: var(--pink-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.hero__modal-text {
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.hero__modal--img {
  min-width: 100px;
  min-height: 100px;
  display: none;
  margin-right: 10px;

  @media screen and (min-width: 480px) {
    display: block;
  }
}

.hero__modal--flex {
  display: flex;
}

.hero__modal--img-cow {
  min-width: 200px;
  display: none;

  @media screen and (min-width: 480px) {
    display: block;
  }
}

//  ***************** Кнопка скролл вверх *****************

.scroll_link {
  position: fixed;
  bottom: 4vh;
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: rgb(240, 240, 240);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  transition: transform 250ms ease, border 200ms ease,
    background-color 200ms ease;

  &:hover,
  &:focus {
    transform: scale(1.2);
    background-color: var(--btn-hover-color);
    border: 2px solid var(--btn-active-color);
  }
}

.scroll-icon {
  transform: rotate(270deg);
}

@media screen and (min-width: 768px) {
  .scroll_link {
    display: none;
  }
}

// ****************** Форма купить **************

.header__modal {
  z-index: 100;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--pink-color-fourth);
  padding: 40px;

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);

  max-height: 100%;
  overflow-y: auto;
  width: 90vw;

  @media screen and (min-width: 700px) {
    width: 100%;
    max-width: 400px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 450px;
  }
}

.form {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.header__form-title {
  display: block;
  font-family: 'Titan One';
  font-weight: 700;
  font-size: 16px;
  color: var(--pink-text-color);
  padding-bottom: 20px;
  text-align: center;
}

.choice-left {
  width: 35%;
}
.choice-right {
  width: 65%;
}

.choice-info {
  width: 100%;
}

.form__group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.textarea__group {
  display: block;
}

.checkbox__group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.form__icon {
  display: block;
  fill: var(--bg-color-pink);
  cursor: pointer;
  transition: fill var(--animation);
}
.select__group {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.select__field {
  display: inline-block;
  border: 1px solid var(--grey-border-color);
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  color: var(--pink-color-fourth);
  cursor: pointer;

  transition: border-color var(--animation);

  .select__group:hover &,
  .select__group:focus-within & {
    border-color: var(--btn-active-color);
    outline-color: var(--btn-active-color);
  }
}

.form__field {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 4px;
  color: var(--pink-color-fourth);

  border: 1px solid var(--grey-border-color);

  font-size: 12px;
  cursor: pointer;
  transition: border-color var(--animation);

  .form__group:hover &,
  .form__group:focus-within & {
    border-color: var(--btn-active-color);
    outline-color: var(--btn-active-color);
  }
}

.form__textarea {
  resize: none;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.14;

  transition: border-color var(--animation);

  .textarea__group:hover &,
  .textarea__group:focus-within & {
    border-color: var(--btn-active-color);
    outline-color: var(--btn-active-color);
  }
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--grey-border-color);
}

.form__title {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--pink-text-color);
  margin-bottom: 4px;
}

.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__text {
  text-align: center;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.checkbox__policy {
  text-decoration-line: underline;
  color: var(--pink-text-color);
}

.checkbox__choice {
  position: absolute;
  left: 85px;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__field {
  position: absolute;
  top: 10%;
  left: 0;
  cursor: pointer;
}

.checkbox__choice:checked + .form__icon {
  outline-color: transparent;
  fill: var(--btn-active-color);
}

.checkbox__choice:hover + .form__icon,
.checkbox__choice:focus + .form__icon {
  outline-color: var(--btn-active-color);
}

.form__icon:hover {
  fill: var(--btn-active-color);
  transform: scale(1.1);
}

.form__btn {
  display: block;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
