.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 100%;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 23px;
  }
}

//Franchise

.backdrop-franchise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--modal-window-bg);

  z-index: 100;

  &.sr-only {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-franchise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  width: calc(100% - 40px);

  background-color: var(--bg-color-secondary-pink);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  z-index: 101;
}

.close-btn-franchise {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-text-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}

.close-btn-franchise .close-btn-franchise__icon {
  stroke: var(--pink-text-color);
}

.modal-franchise__header {
  letter-spacing: 0.04em;
  color: var(--pink-text-color);
  font-size: 16px;
  line-height: 1.86;

  margin-bottom: 10px;

  text-align: center;
}

.modal-franchise__form-group {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.modal-franchise__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--pink-text-color);

  margin-bottom: 5px;
}

.modal-franchise__input {
  outline: transparent;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border: 1px solid var(--btn-active-color);

  margin-bottom: 20px;
}

.modal-franchise_dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 20px;
}

.modal-franchise__roll {
  background-color: var(--pink-color-fourth);

  color: var(--white-text-color);
  padding: 8px;

  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border: 1px solid var(--btn-active-color);
}

.modal-franchise__choice {
  color: var(--white-text-color);

  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  padding-right: 8px;

  background-color: var(--pink-color-fourth);
  border: 1px solid var(--btn-active-color);
}

.modal-franchise__policy-group {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.modal-franchise__custom-checkbox {
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: 2px solid var(--pink-text-color);
  outline-offset: -2px;
  border-radius: 2px;

  margin-right: 8px;
  cursor: pointer;
}

.modal-franchise__checkbox:checked + .modal-franchise__custom-checkbox {
  outline: transparent;
  background-color: var(--pink-text-color);
}

.modal-franchise__custom-checkbox:hover,
.modal-franchise__custom-checkbox:focus {
  outline: 2px solid var(--pink-text-color);
}

.modal-franchise__checkbox:focus + .modal-franchise__custom-checkbox {
  outline: 2px solid var(--pink-text-color);
}

.modal-franchise__icon-check {
  opacity: 1;
}

.modal-franchise__checkbox:checked
  + .modal-franchise__custom-checkbox
  .modal-franchise__icon-check {
  opacity: 1;
}

.modal-franchise__terms {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--pink-text-color);
}

.modal-franchise__link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--pink-text-color);
}

//Our Locations

.backdrop-our-locations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--modal-window-bg);

  z-index: 100;

  &.sr-only {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-our-locations {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  width: calc(100% - 40px);

  background-color: var(--bg-color-secondary-pink);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  z-index: 101;
}

.close-btn-our-locations {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-text-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}

.close-btn-our-locations .close-btn-our-locations__icon {
  stroke: var(--pink-text-color);
}

.modal-our-locations__header {
  letter-spacing: 0.04em;
  color: var(--pink-text-color);
  font-size: 16px;
  line-height: 1.86;

  margin-bottom: 10px;

  text-align: center;
}

.modal-our-locations__text {
  font-size: 12px;
  line-height: 1.5;

  color: var(--grey-text-color);

  padding-bottom: 24px;
}
