<section class="section-about" id="how it’s made?">
    <div class="container">
        <h1 class="section-about__lable">tradition and love</h1>
        <h2 class="section-abaut__title">how it’s made?</h2>
        <div class="section-about__body">
            <div class="section-about__image-content">
                <picture></picture>
            </div>
            <div class="section-about__content">
                
                <p class="section-about__text-desc">Fusce ut velit laoreet, tempus arcu eu, 
                    molestie tortor. 
                    Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                    Maecenas eleifend erat at justo fringilla.</p>
                
                    <p class="section-about__text-lead">Curabitur lacinia enim at ex blandit, 
                    vel pellentesque odio elementum. 
                    Mauris rhoncus orci in imperdiet placerat. 
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.</p> 
                    Cras massa nibh, tincidunt.

                    <p class="section-about__text-lead">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="section-about__button">Read more
                    <svg class="section-about__icon">
                        <use></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>