<section class="section section-about" id="about">
    <div class="container about">
        <p class="section-about__lable">tradition and love</p>
        <h2 class="section-abaut__title">how it’s made?</h2>
        <div class="section-about__main">
            <div class="section-about__image-content">
 <picture>
    <!-- for desktop -->
    
    <source media="(min-width: 1200px)" srcset="
        ./images/laptop/laptop-cow-with-milk.webp 1x,
        ./images/laptop/laptop-cow-with-milk@2x.webp 2x
      " type="image/webp">
    <source media="(min-width: 1200px)" srcset="
        ./images/laptop/laptop-cow-with-milk.png 1x,
        ./images/laptop/laptop-cow-with-milk@2x.png 2x
      " type="image/jpg">

    <!-- for tablet -->
    
    <source media="(min-width: 768px)" srcset="
        ./images/tablet/tablet-cow-with-milk.webp 1x,
        ./images/tablet/tablet-cow-with-milk@2x.webp 2x
      " type="image/webp">
    <source media="(min-width: 768px)" srcset="
        ./images/tablet/tablet-cow-with-milk.png 1x,
        ./images/tablet/tablet-cow-with-milk@2x.png 2x
      " type="image/jpg">
    
      <!-- for mobile -->
   
    <source media="(max-width: 767px)" srcset="
        ./images/mobile/mobile-cow-with-milk.webp 1x,
        ./images/mobile/mobile-cow-with-milk@2x.webp 2x
      " type="image/webp">
    <source media="(max-width: 767px)" srcset="
        ./images/mobile/mobile-cow-with-milk.png 1x,
        ./images/mobile/mobile-cow-with-milk@2x.png 2x
      " type="image/png">
    <!-- default device type-->
    <img class="section-about__image" src="./images/mobile/mobile-cow-with-milk.png"
        alt="cow milk" width="280" height="279" loading="lazy">
</picture>
            </div>
            <div class="section-about__body">
                
                <p class="section-about__text-desc">Fusce ut velit laoreet, tempus arcu eu, 
                    molestie tortor. 
                    Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                    Maecenas eleifend erat at justo fringilla.</p>
            
                            

                    <p class="section-about__text-lead">Curabitur lacinia enim at ex blandit, 
                    vel pellentesque odio elementum. 
                    Mauris rhoncus orci in imperdiet placerat. 
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. 
                    Cras massa nibh, tincidunt.</p>

                    <p class="section-about__text-tagline">Aliquam erat volutpat. Aenean accumsan.</p>
                <!-- Кнопка модального окна OPEN-->
                    <button class="section-about__button" data-modal-open-2>Read more
                    <svg class="section-about__icon" width="8" height="10">
                        <use href="./images/sprite.svg#icon-icon-arrow-pink"></use>
                    </svg>
                </button>
                <!-- Модальное окно -->
                <div class="section-about__backdrop is-hidden" data-modal-2>
            <div class="section-about__modal-wrapper">
            <button class="section-about__modal-btn" data-modal-close-2>
              <svg class="section-about__modal-icon" width="13" height="13">
                <use href="./images/sprite.svg#icon-vector"></use>
              </svg>
            </button>
            </div>
            </div>
        </div>
    </div>
</section>
