<section class="section-advantages" id="section-advantages">
    <div class="container">
<h1 class="section-advantages__title">Advantages</h1>
<ul class="section-advantages__list">
    <li class="section-advantages">
    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="section-advantages">
    <p> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="section-advantages">
    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>

</div>
</section>