<section class="section-advantages" id="advantages">

    <h1 class="title visually-hidden">Advantages</h1>
    <div class="container container-advantages">
        <ul class="section-advantages__list">
            <li class="section-advantages__item item__milk">
                <p class="section-advantages__point">721</p>
                <p class="section-advantages__text">
                    We source our milk & cream from a local dairy as we believe in supporting local businesses.
                </p>
            </li>
            <li class="section-advantages__item item__fruit">
                <p class="section-advantages__point ">16kg</p>
                <p class="section-advantages__text">
                    We hand make over 40 flavours of delicious small batch, slow churned gelato in our Icecream shop.
                </p>
            </li>
            <li class="section-advantages__item item__icecream">
                <p class="section-advantages__point">84</p>
                <p class="section-advantages__text">
                    We manufacture super-premium ice cream, dairy-free soy, no sugar added ice cream and sherbet in
                    house.
                </p>
            </li>
        </ul>
    </div>
</section>