<!--Контакти компанії ICECREAM-->
<section class="section contacts" id="contact">
  <div class="container">
    <h1 class="sr-only">Company contacts Icecream</h1>
    <!--Список карток-->
    <ul class="contacts__card">
      <li class="contacts__list">
        <div class="contacts__cell">
          <p class="contacts__cafe">CAFE</p>
          <h2 class="contacts__city">Chicago</h2>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__cell">
          <ul class="contacts__working-hours-list">
            <li class="contacts__working-hours">
              <h2 class="contacts__day">Monday - Friday</h2>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__working-hours">
              <h2 class="contacts__day">Saturday - Sunday</h2>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__cell contacts__cell--column">
          <a href="tel:+61(0) 383 766 284" class="contacts__tel-email"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__tel-email"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__list">
        <div class="contacts__cell">
          <p class="contacts__foodtruck">FOODTRUCK</p>
          <h2 class="contacts__city">Los Angeles</h2>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__cell">
          <ul class="contacts__working-hours-list">
            <li class="contacts__working-hours">
              <h2 class="contacts__day">Monday - Friday</h2>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__working-hours">
              <h2 class="contacts__day">Saturday - Sunday</h2>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__cell contacts__cell--column">
          <a href="tel:+61(0) 383 766 284" class="contacts__tel-email"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__tel-email"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__list">
        <div class="contacts__cell">
          <p class="contacts__cafe">CAFE</p>
          <h2 class="contacts__city">New York</h2>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__cell">
          <ul class="contacts__working-hours-list">
            <li class="contacts__working-hours">
              <h2 class="contacts__day">Monday - Friday</h2>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__working-hours">
              <h2 class="contacts__day">Saturday - Sunday</h2>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__cell contacts__cell--column">
          <a href="tel:+61(0) 383 766 284" class="contacts__tel-email"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__tel-email"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts__button-group">
      <!--Кнопка локації-->
      <button
        type="button"
        class="contacts__button contacts__button-red"
        data-modal-our-locations-open
      >
        <span class="contacts__button-text">Our Locations</span>
        <svg width="22" height="22" class="contacts--arrow">
          <use href="./images/sprite.svg#icon-keyboard_arrow_right"></use>
        </svg>
      </button>
      <!--Кнопка франшизи-->
      <button
        type="button"
        class="contacts__button contacts__button-white"
        data-modal-franchise-open
      >
        <span class="contacts__button-text">Franchise</span>
        <svg width="22" height="22" class="contacts--arrow">
          <use href="./images/sprite.svg#icon-keyboard_arrow_right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
