<!--Customer Reviews-->
<section class="section section-customer">
  <h2 class="title visually-hidden">Customer Reviews</h2>
  <div class="container customer-container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide custom-item">
          <article>
            <picture>
                <source
                media="(min-width: 320px)"

                srcset="
                  ./images/mobile/mobile-testimonial.png   1x,
                  ./images/mobile/mobile-testimonial@2x.png 2x
                "
                type="image/png"
              />

               <img
                src="./images/mobile/mobile-testimonial.png"
                alt="Emily"
                class="article-img"
                width="85"
                height="85"
                loading="lazy"
              /> 
            </picture>
            <div class="bg-container">
              <p class="article-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>

            <p class="article-name">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <picture>
              <source
                srcset="
                  ./images/laptop/laptop-testimonial2.jpg    1x,
                  ./images/laptop/laptop-testimonial2@2x.jpg 2x
                "
                media="(min-width: 767px)"
              />
              <img
                src="./images/laptop/laptop-testimonial2.jpg"
                alt="Emily"
                class="article-img"
                width="85"
                height="85"
                loading="lazy"
              />
            </picture>
            <div class="bg-container">
              <p class="article-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>

            <p class="article-name">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <picture>
              <source
                media="(mix-width: 767px)"
                srcset="
                  ./images/laptop/laptop-testimonial3.jpg    1x,
                  ./images/laptop/laptop-testimonial3@2x.jpg 2x
                "
                type="image/png"
              /> 
              <img
                src="./images/laptop/laptop-testimonial3.jpg"
                alt="Emily"
                class="article-img"
                width="85"
                height="85"
                loading="lazy"
              />
            </picture>
            <div class="bg-container">
              <p class="article-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            
            <p class="article-name">Emily, Los Angeles</p>
          </article>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
