<!--Customer Reviews-->
<section class="section section-customer">
   <div class="container customer-container"></div>
  <h2 class="title visually-hidden">Customer Reviews</h2>
 
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide custom-item">
          <article>
            <picture>
              <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/mobile-testimonial.webp    1x,
                ./images/mobile/mobile-testimonial@2x.webp 2x
              "
              type="image/webp"
            />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/mobile/mobile-testimonial.jpg    1x,
                  ./images/mobile/mobile-testimonial@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/mobile/mobile-testimonial.jpg"
                alt="Emily"
                class="article-img"
                width="85"
                height="85"
                loading="lazy"
              />
            </picture>
            <div class="bg-container">
              <p class="article-text">
                Fantastic milkshakes and service. This place is awesome and the
                milkshakes are the best. Delicious flavors, creamy and fluffy.
                Will be coming back for more again!
              </p>
            </div>

            <h3 class="article-name">Emily, Los Angeles</h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <picture>
              <source
              media="(min-width: 320px)"
                srcset="
                  ./images/laptop/laptop-testimonial2.webp    1x,
                  ./images/laptop/laptop-testimonial2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
              media="(min-width: 320px)"
                srcset="
                  ./images/laptop/laptop-testimonial2.jpg    1x,
                  ./images/laptop/laptop-testimonial2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/laptop/laptop-testimonial2.jpg"
                alt="Emily"
                class="article-img"
                width="85"
                height="85"
                loading="lazy"
              />
            </picture>
            <div class="bg-container">
              <p class="article-text">
                It's freshly made ice cream. The best place to have ice cream.
                The quality is good and worth its price. Favorites...So hard to pick...All is delicious
              </p>
            </div>

            <h3 class="article-name">Amy, Chicago</h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <picture>
              <source
              media="(min-width: 320px)"
              srcset="
                ./images/laptop/laptop-testimonial3.webp    1x,
                ./images/laptop/laptop-testimonial3@2x.webp 2x
              "
              type="image/webp"
            />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/laptop/laptop-testimonial3.jpg    1x,
                  ./images/laptop/laptop-testimonial3@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/laptop/laptop-testimonial3.jpg"
                alt="Emily"
                class="article-img"
                width="85"
                height="85"
                loading="lazy"
              />
            </picture>
            <div class="bg-container">
              <p class="article-text">
                This is a favorite stop for us every time. The ice cream is truly
                incredible. The flavors are both Traditional Ice cream
                flavors and amazing uniquely tastes.
              </p>
            </div>

            <h3 class="article-name">Francheska, New York</h3>
          </article>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
