<footer class="page-footer">
    <div class="container page-footer__container">

        <div class="page-footer__title">
            <p class="page-footer__title--little">homemade ice cream made</p>
            <p class="page-footer__title--big">with passion</p>
        </div>

        <div class="site-contacts">

            <div class="socials">
                <ul class="socials__list list">
                    <li class="socials__item">
                        <a class="socials__link link" href="" target="_blank" rel="noopener noreferrer"
                            aria-label="иконка github">
                            <svg class="socials__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-icon-github">
                            </use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link link" href="" target="_blank" rel="noopener noreferrer"
                            aria-label="иконка telegram">
                            <svg class="socials__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-icon-telegram">
                        </use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link link" href="" target="_blank" rel="noopener noreferrer"
                            aria-label="иконка facebook">
                            <svg class="socials__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-icon-facebook">
                            </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="contact-box">
                <span class="contact-box__text">Feel free to contact</span>
                <a class="contact-box__phone link" href="tel:+610383766284">
                    +61 (0) 383 766 284
                </a>
            </div>

        </div>
    </div>

    <div class="site-copyright">
        <p class="site-copyright__text">© 2022 - IceCream.
            All Rights Reserved.</p>
    </div>

</footer>
