<!--Franchise---------------------------------------------------------->

<div class="backdrop-franchise sr-only" data-modal-franchise>
<div class="modal-franchise ">
<button type="button" class="close-btn-franchise" data-modal-franchise-close>
  <svg width="15" height="15" class="close-btn-franchise__icon">
    <use href="./images/sprite.svg#icon-icon-close"></use>
  </svg>
</button>
<!--Заголовок формы-->
<h2 class="modal-franchise__header">Become our franchisee! <br> Fill out the form</h2>
<form>
  <!--Name input-->
  <label class="modal-franchise__form-group">
    <span class="modal-franchise__label">Name</span>
    <input  class="modal-franchise__input" type="text" name="user-name" placeholder="Johny" required>
  </label>
  <!--Phone input-->
  <label class="modal-franchise__form-group">
    <span class="modal-franchise__label">Phone</span>
    <input  class="modal-franchise__input" type="tel" name="user-phone" placeholder="+380123456789" required>
  </label>
  <!--Email input-->
  <label class="modal-franchise__form-group">
    <span class="modal-franchise__label">Email</span>
    <input  class="modal-franchise__input" type="email" name="user-mail" placeholder="123@mail.com" required>
  </label>
    <!--Dropdown menu-->
    <label class="modal-franchise_dropdown">
      <span class="modal-franchise__label">Franchise type</span>
      <select name="franchise-type" class="modal-franchise__roll">
        <option value="CAFE" class="modal-franchise__choice">CAFE</option>
        <option value="FOODTRUCK" class="modal-franchise__choice">FOODTRUCK</option>
      </select>
      </label>
  <!--Checkbox-->
  <label class="modal-franchise__policy-group">
    <input  type="checkbox" name="checkbox" required class="modal-franchise__checkbox sr-only">
    <span class="modal-franchise__custom-checkbox">
      <svg class="modal-franchise__icon-check" width="16" height="8">
        <use href="./images/sprite.svg#icon-check"></use>
      </svg>
    </span>
    <span class="modal-franchise__terms" >I agree with the newsletter and accept
    <a href="#" class="modal-franchise__link">Terms of an agreement</a>
    </span>
  </label>
<!--Button modal-->
<div class="modal__button--center">
<button type="submit"  class="contacts__button contacts__button-red contacts__button--width">
  <span class="contacts__button-text">Send</span>
</button>
</div>
</form>
</div>
</div> 