<section id="gallery" class="section gallery__section">
  <div class="container">
    <h2 class="sr-only">Gallery</h2>
    <ul class="gallery">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-001-40.webp    40w,
              images/gallery/gallery-001-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-001-84.webp     84w,
              images/gallery/gallery-001-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-001-138.webp    138w,
              images/gallery/gallery-001-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-001-40.jpg    40w,
              images/gallery/gallery-001-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-001-84.jpg     84w,
              images/gallery/gallery-001-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-001-138.jpg    138w,
              images/gallery/gallery-001-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-001-138.jpg"
            loading="lazy"
            alt="Two cones of pistachio ice cream on a plate, one in a glass"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-002-40.webp    40w,
              images/gallery/gallery-002-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-002-84.webp     84w,
              images/gallery/gallery-002-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-002-138.webp    138w,
              images/gallery/gallery-002-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-002-40.jpg    40w,
              images/gallery/gallery-002-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-002-84.jpg     84w,
              images/gallery/gallery-002-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-002-138.jpg    138w,
              images/gallery/gallery-002-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-002-138.jpg"
            loading="lazy"
            alt="Pink ice cream in a big waffle cone"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-003-40.webp    40w,
              images/gallery/gallery-003-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-003-84.webp     84w,
              images/gallery/gallery-003-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-003-138.webp    138w,
              images/gallery/gallery-003-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-003-40.jpg    40w,
              images/gallery/gallery-003-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-003-84.jpg     84w,
              images/gallery/gallery-003-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-003-138.jpg    138w,
              images/gallery/gallery-003-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-003-138.jpg"
            loading="lazy"
            alt="A few pink berry ice cream bricks on sticks"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-004-80.webp     80w,
              images/gallery/gallery-004-80@2x.webp 160w
            "
            media="(max-width: 767px)"
            sizes="80px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-004-174.webp    174w,
              images/gallery/gallery-004-174@2x.webp 348w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="174px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-004-284.webp    284w,
              images/gallery/gallery-004-284@2x.webp 568w
            "
            media="(min-width: 1280px)"
            sizes="284px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-004-80.jpg     80w,
              images/gallery/gallery-004-80@2x.jpg 160w
            "
            media="(max-width: 767px)"
            sizes="80px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-004-174.jpg    174w,
              images/gallery/gallery-004-174@2x.jpg 348w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="174px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-004-284.jpg    284w,
              images/gallery/gallery-004-284@2x.jpg 568w
            "
            media="(min-width: 1280px)"
            sizes="284px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-004-284.jpg"
            loading="lazy"
            alt="A few waffle cones with different ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-005-40.webp    40w,
              images/gallery/gallery-005-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-005-84.webp     84w,
              images/gallery/gallery-005-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-005-138.webp    138w,
              images/gallery/gallery-005-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-005-40.jpg    40w,
              images/gallery/gallery-005-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-005-84.jpg     84w,
              images/gallery/gallery-005-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-005-138.jpg    138w,
              images/gallery/gallery-005-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-005-138.jpg"
            loading="lazy"
            alt="Smiling girl, with a big ice cream in a waffle cone"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-006-40.webp    40w,
              images/gallery/gallery-006-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-006-84.webp     84w,
              images/gallery/gallery-006-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-006-138.webp    138w,
              images/gallery/gallery-006-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-006-40.jpg    40w,
              images/gallery/gallery-006-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-006-84.jpg     84w,
              images/gallery/gallery-006-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-006-138.jpg    138w,
              images/gallery/gallery-006-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-006-138.jpg"
            loading="lazy"
            alt="Three glass bowls with ice cream and berries"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-007-40.webp    40w,
              images/gallery/gallery-007-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-007-84.webp     84w,
              images/gallery/gallery-007-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-007-138.webp    138w,
              images/gallery/gallery-007-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-007-40.jpg    40w,
              images/gallery/gallery-007-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-007-84.jpg     84w,
              images/gallery/gallery-007-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-007-138.jpg    138w,
              images/gallery/gallery-007-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-007-138.jpg"
            loading="lazy"
            alt="Red ice cream in a waffle cone with sprinkles"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-008-40.webp    40w,
              images/gallery/gallery-008-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-008-84.webp     84w,
              images/gallery/gallery-008-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-008-138.webp    138w,
              images/gallery/gallery-008-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-008-40.jpg    40w,
              images/gallery/gallery-008-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-008-84.jpg     84w,
              images/gallery/gallery-008-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-008-138.jpg    138w,
              images/gallery/gallery-008-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-008-138.jpg"
            loading="lazy"
            alt="Dog licks ice cream in a waffle cone"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-009-40.webp    40w,
              images/gallery/gallery-009-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-009-84.webp     84w,
              images/gallery/gallery-009-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-009-138.webp    138w,
              images/gallery/gallery-009-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-009-40.jpg    40w,
              images/gallery/gallery-009-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-009-84.jpg     84w,
              images/gallery/gallery-009-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-009-138.jpg    138w,
              images/gallery/gallery-009-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-009-138.jpg"
            loading="lazy"
            alt="Ice coffee i a glass with cocktail tube"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              images/gallery/gallery-010-40.webp    40w,
              images/gallery/gallery-010-40@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-010-84.webp     84w,
              images/gallery/gallery-010-84@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-010-138.webp    138w,
              images/gallery/gallery-010-138@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              images/gallery/gallery-010-40.jpg    40w,
              images/gallery/gallery-010-40@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-010-84.jpg     84w,
              images/gallery/gallery-010-84@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/gallery-010-138.jpg    138w,
              images/gallery/gallery-010-138@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-010-138.jpg"
            loading="lazy"
            alt="Milkshake with donut and whipped cream topping with berries"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
