<section id="gallery" class="section gallery__section">
  <div class="container">
    <h2 class="sr-only">Gallery</h2>
    <ul class="gallery">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-1.webp    40w,
              ./images/mobile/mobile-gal-1@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-1.webp     84w,
              ./images/tablet/tablet-gal-1@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-1.webp    138w,
              ./images/laptop/laptop-gal-1@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-1.jpg    40w,
              ./images/mobile/mobile-gal-1@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-1.jpg     84w,
              ./images/tablet/tablet-gal-1@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-1.jpg    138w,
              ./images/laptop/laptop-gal-1@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-1.jpg"
            loading="lazy"
            alt="Two cones of green ice cream on a plate"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-2.webp    40w,
              ./images/mobile/mobile-gal-2@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-2.webp     84w,
              ./images/tablet/tablet-gal-2@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-2.webp    138w,
              ./images/laptop/laptop-gal-2@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-2.jpg    40w,
              ./images/mobile/mobile-gal-2@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-2.jpg     84w,
              ./images/tablet/tablet-gal-2@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-2.jpg    138w,
              ./images/laptop/laptop-gal-2@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-2.jpg"
            loading="lazy"
            alt="Pink ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-3.webp    40w,
              ./images/mobile/mobile-gal-3@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-3.webp     84w,
              ./images/tablet/tablet-gal-3@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-3.webp    138w,
              ./images/laptop/laptop-gal-3@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-3.jpg    40w,
              ./images/mobile/mobile-gal-3@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-3.jpg     84w,
              ./images/tablet/tablet-gal-3@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-3.jpg    138w,
              ./images/laptop/laptop-gal-3@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-3.jpg"
            loading="lazy"
            alt="Berry ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-4.webp    40w,
              ./images/mobile/mobile-gal-4@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-4.webp     84w,
              ./images/tablet/tablet-gal-4@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-4.webp    138w,
              ./images/laptop/laptop-gal-4@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-4.jpg    40w,
              ./images/mobile/mobile-gal-4@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-4.jpg     84w,
              ./images/tablet/tablet-gal-4@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-4.jpg    138w,
              ./images/laptop/laptop-gal-4@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-4.jpg"
            loading="lazy"
            alt="Pack of ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-5.webp    40w,
              ./images/mobile/mobile-gal-5@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-5.webp     84w,
              ./images/tablet/tablet-gal-5@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-5.webp    138w,
              ./images/laptop/laptop-gal-5@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-5.jpg    40w,
              ./images/mobile/mobile-gal-5@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-5.jpg     84w,
              ./images/tablet/tablet-gal-5@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-5.jpg    138w,
              ./images/laptop/laptop-gal-5@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-5.jpg"
            loading="lazy"
            alt="Girl with a big ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-6.webp    40w,
              ./images/mobile/mobile-gal-6@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-6.webp     84w,
              ./images/tablet/tablet-gal-6@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-6.webp    138w,
              ./images/laptop/laptop-gal-6@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-6.jpg    40w,
              ./images/mobile/mobile-gal-6@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-6.jpg     84w,
              ./images/tablet/tablet-gal-6@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-6.jpg    138w,
              ./images/laptop/laptop-gal-6@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-6.jpg"
            loading="lazy"
            alt="Glasses with ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-7.webp    40w,
              ./images/mobile/mobile-gal-7@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-7.webp     84w,
              ./images/tablet/tablet-gal-7@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-7.webp    138w,
              ./images/laptop/laptop-gal-7@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-7.jpg    40w,
              ./images/mobile/mobile-gal-7@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-7.jpg     84w,
              ./images/tablet/tablet-gal-7@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-7.jpg    138w,
              ./images/laptop/laptop-gal-7@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-7.jpg"
            loading="lazy"
            alt="Red ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-8.webp    40w,
              ./images/mobile/mobile-gal-8@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-8.webp     84w,
              ./images/tablet/tablet-gal-8@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-8.webp    138w,
              ./images/laptop/laptop-gal-8@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-8.jpg    40w,
              ./images/mobile/mobile-gal-8@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-8.jpg     84w,
              ./images/tablet/tablet-gal-8@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-8.jpg    138w,
              ./images/laptop/laptop-gal-8@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-8.jpg"
            loading="lazy"
            alt="Dog with ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-9.webp    40w,
              ./images/mobile/mobile-gal-9@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-9.webp     84w,
              ./images/tablet/tablet-gal-9@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-9.webp    138w,
              ./images/laptop/laptop-gal-9@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-9.jpg    40w,
              ./images/mobile/mobile-gal-9@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-9.jpg     84w,
              ./images/tablet/tablet-gal-9@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-9.jpg    138w,
              ./images/laptop/laptop-gal-9@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-9.jpg"
            loading="lazy"
            alt="Ice coffee"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-gal-10.webp    40w,
              ./images/mobile/mobile-gal-10@2x.webp 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-10.webp     84w,
              ./images/tablet/tablet-gal-10@2x.webp 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-10.webp    138w,
              ./images/laptop/laptop-gal-10@2x.webp 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/mobile-gal-10.jpg    40w,
              ./images/mobile/mobile-gal-10@2x.jpg 80w
            "
            media="(max-width: 767px)"
            sizes="40px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/tablet-gal-10.jpg     84w,
              ./images/tablet/tablet-gal-10@2x.jpg 168w
            "
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/laptop/laptop-gal-10.jpg    138w,
              ./images/laptop/laptop-gal-10@2x.jpg 276w
            "
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            class="gallery__image"
            src="./images/laptop/laptop-gal-10.jpg"
            loading="lazy"
            alt="Milkshake with donat"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
