<header class="header">


    <button class="menu__icon" type="button">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </button>

    <div class="menu">
      <button class="menu-btn" type="button">
        Buy now
        <svg class="menu-btn__icon" width="10" height="15">
          <use href="./images/sprite.svg#icon-icon-arrow"></use>
        </svg>
      </button>

      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a href="#hero" class="nav__link link nav__link--accent">Home</a>
          </li>
          <li class="nav__item">
            <a href="#reviews" class="nav__link link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link link">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link link">Our products</a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section class="hero" id="hero">


    <!-- Фоновый круг -->
    <picture class="hero__img--ellipse">
      <!-- для мобильного -->
      <source
        media="(max-width: 479px)"
        srcset="
          ./images/mobile/mobile-main-ellipse.webp  1x,
          images/mobile/mobile-main-ellipse@2x.webp 2x
        "
        type="image/webp"
      />



      <source
        media="(min-width: 480px)"
        srcset="
          ./images/tablet/tablet-ellipse-pink.png  1x,
          images/tablet/tablet-ellipse-pink@2x.png 2x
        "
        type="image/png"
      />



            <source media="(min-width: 768px)"
                srcset="./images/laptop/laptop-ellipse-pink.png 1x, images/laptop/laptop-ellipse-pink@2x.png 2x"
                type="image/png"> 

      <img src="./images/mobile/mobile-main-ellipse.png" alt="Постер работы" />
    </picture>



      <source
        media="(max-width: 479px)"
        srcset="
          ./images/mobile/mobile-header-slider.png  1x,
          images/mobile/mobile-header-slider@2x.png 2x
        "
        type="image/png"
      />


</section>



<script>
  //   Кнопка меню
  const iconMenu = document.querySelector('.menu__icon');
  const menu = document.querySelector('.menu');
  if (iconMenu) {
    iconMenu.addEventListener('click', function (e) {
      document.body.classList.toggle('_lock');
      iconMenu.classList.toggle('_active');
      menu.classList.toggle('_active');
    });
  }
</script>
