<!-- **********************  Герой  ******************** -->
<section class="hero" id="home">
    <div class="container hero__container">

        <div class="hero__basic">
            <div>
                <h1 class="hero__title animate__animated animate__backInLeft">ice cream <br> made with <br> <span
                        class="accent--title">passion</span></h1>

                <ul class="hero__list list">
                    <li class="hero__item"><a href="#products" class="hero__btn link hero__btn--first">Products</a></li>
                    <li class="hero__item"><a href="#about" class="hero__btn link hero__btn--last">How it’s made?</a>
                    </li>
                </ul>
            </div>

            <ul class="hero__amount-list">
                <li class="hero__amount-item">
                    <p class="hero__amount">16</p>
                    <p class="hero__amount--label">cafes</p>
                </li>
                <li class="hero__amount-item">
                    <p class="hero__amount">23</p>
                    <p class="hero__amount--label">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero__extra">
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et</p>

            <button class="hero__btn--more" type="button" aria-label="Кнопка подробнее" data-modal-open>
                <svg class="btn-more__icon" width="6" height="6">
                    <use href="./images/sprite.svg#icon-icon-arrow-pink"></use>
                </svg>
            </button>
        </div>

        <!-- Модалка  -->
        
        <div class="hero__backdrop is-hidden" data-modal>
            <div class="hero__modal">
        
                <button class="hero__btn-close" type="button" aria-label="Кнопка закрыть модальное окно" data-modal-close>
                    <svg class="header__close-icon hero__close-icon" width="15" height="15">
                        <use href="./images/sprite.svg#icon-vector"></use>
                    </svg>
                </button>
        
                <div class="hero__modal--flex">
                    <div>
                        <h2 class="hero__modal-title">Lorem consectetur, ipsum dolor amet </h2>
                        <p class="hero__modal-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, est?
                        </p>
                    </div>
                    <picture class="hero__modal--img-cow">
                        <!-- для мобильного -->
                        <source media="(max-width: 767px)"
                            srcset="./images/mobile/mobile-cow-with-milk.webp 1x, images/mobile/mobile-cow-with-milk@2x.webp 2x"
                            type="image/webp">
        
                        <source media="(max-width: 767px)"
                            srcset="./images/mobile/mobile-cow-with-milk.png 1x, images/mobile/mobile-cow-with-milk@2x.png 2x"
                            type="image/png">
        
                        <!-- для планшета -->
                        <source media="(max-width: 1199px)"
                            srcset="./images/tablet/tablet-cow-with-milk.webp 1x, images/tablet/tablet-cow-with-milk@2x.webp 2x"
                            type="image/webp">
        
                        <source media="(max-width: 1199px)"
                            srcset="./images/tablet/tablet-cow-with-milk.png 1x, images/tablet/tablet-cow-with-milk@2x.png 2x"
                            type="image/png">
        
                        <!-- для ноута -->
                        <source media="(min-width: 1200px)"
                            srcset="./images/laptop/laptop-cow-with-milk.webp 1x, images/laptop/laptop-cow-with-milk@2x.webp 2x"
                            type="image/webp">
        
                        <source media="(min-width: 1200px)"
                            srcset="./images/laptop/laptop-cow-with-milk.png 1x, images/laptop/laptop-cow-with-milk@2x.png 2x"
                            type="image/png">
        
                        <img src="./images/mobile/mobile-cow-with-milk.png" alt="Графин с молоком на фоне коровы">
                    </picture>
                </div>
        
                <p class="hero__modal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis asperiores
                    tenetur hic earum fugit nesciunt.
                </p>
                <div class="hero__modal--flex">
                    <div class="hero__modal--img">
                        <picture>
                            <!-- для мобильного -->
                            <source media="(max-width: 767px)"
                                srcset="./images/mobile/mobile-gal-4.webp 1x, images/mobile/mobile-gal-4@2x.webp 2x"
                                type="image/webp">
        
                            <source media="(max-width: 767px)"
                                srcset="./images/mobile/mobile-gal-4.jpg 1x, images/mobile/mobile-gal-4@2x.jpg 2x"
                                type="image/jpg">
        
                            <!-- для планшета -->
                            <source media="(max-width: 1199px)"
                                srcset="./images/tablet/tablet-gal-4.webp 1x, images/tablet/tablet-gal-4@2x.webp 2x"
                                type="image/webp">
        
                            <source media="(max-width: 1199px)"
                                srcset="./images/tablet/tablet-gal-4.jpg 1x, images/tablet/tablet-gal-4@2x.jpg 2x"
                                type="image/jpg">
        
                            <!-- для ноута -->
                            <source media="(min-width: 1200px)"
                                srcset="./images/laptop/laptop-gal-4.webp 1x, images/laptop/laptop-gal-4@2x.webp 2x"
                                type="image/webp">
        
                            <source media="(min-width: 1200px)"
                                srcset="./images/laptop/laptop-gal-4.jpg 1x, images/laptop/laptop-gal-4@2x.jpg 2x"
                                type="image/jpg">
        
                            <img src="./images/mobile/mobile-gal-4.jpg" alt="Несколько рожков мороженного">
        
                        </picture>
                    </div>
                    <p class="hero__modal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas maxime
                        voluptates, veniam soluta repudiandae eum provident et. Maxime, harum unde?</p>
                </div>
        
            </div>
        </div>

        <!-- Фоновый круг -->
        <picture class="hero__img--ellipse animate__animated animate__zoomIn">
            <!-- для мобильного -->
            <source media="(max-width: 479px)"
                srcset="./images/mobile/mobile-main-ellipse.webp 1x, images/mobile/mobile-main-ellipse@2x.webp 2x"
                type="image/webp">

            <source media="(max-width: 479px)"
                srcset="./images/mobile/mobile-main-ellipse.png 1x, images/mobile/mobile-main-ellipse@2x.png 2x"
                type="image/png">

            <!-- для планшета -->
            <source media="(max-width: 1199px)"
                srcset="./images/tablet/tablet-ellipse-pink.webp 1x, images/tablet/tablet-ellipse-pink@2x.webp 2x"
                type="image/webp">

            <source media="(max-width: 1199px)"
                srcset="./images/tablet/tablet-ellipse-pink.png 1x, images/tablet/tablet-ellipse-pink@2x.png 2x"
                type="image/png">

            <!-- для ноута -->
            <source media="(min-width: 1200px)"
                srcset="./images/laptop/laptop-ellipse-pink.webp 1x, images/laptop/laptop-ellipse-pink@2x.webp 2x"
                type="image/webp">

            <source media="(min-width: 1200px)"
                srcset="./images/laptop/laptop-ellipse-pink.png 1x, images/laptop/laptop-ellipse-pink@2x.png 2x"
                type="image/png">

            <img src="./images/mobile/mobile-main-ellipse.png" alt="Фоновый круг">
        </picture>

        <!-- Фоновое мороженное -->
        <picture class="hero__img--ice animate__animated animate__fadeInUp">
            <!-- для мобильного -->
            <source media="(max-width: 767px)"
                srcset="./images/mobile/mobile-header-slider.webp 1x, images/mobile/mobile-header-slider@2x.webp 2x"
                type="image/webp">

            <source media="(max-width: 767px)"
                srcset="./images/mobile/mobile-header-slider.png 1x, images/mobile/mobile-header-slider@2x.png 2x"
                type="image/png">

            <!-- для планшета -->
            <source media="(max-width: 1199px)"
                srcset="./images/tablet/tablet-header-slider.webp 1x, images/tablet/tablet-header-slider@2x.webp 2x"
                type="image/webp">

            <source media="(max-width: 1199px)"
                srcset="./images/tablet/tablet-header-slider.png 1x, images/tablet/tablet-header-slider@2x.png 2x"
                type="image/png">

            <!-- для ноута -->
            <source media="(min-width: 1200px)"
                srcset="./images/laptop/laptop-header-slider.webp 1x, images/laptop/laptop-header-slider@2x.webp 2x"
                type="image/webp">

            <source media="(min-width: 1200px)"
                srcset="./images/laptop/laptop-header-slider.png 1x, images/laptop/laptop-header-slider@2x.png 2x"
                type="image/png">

            <img src="./images/mobile/mobile-header-slider.png" alt=" Рожок с мороженным">
        </picture>

    </div>
    <div class="visually-hidden" id="products"></div>
</section>


