<!-- Модальне вікно -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="close-button" width="11" height="11">
        <use href="./images/sprite.svg#icon-icon-close"></use>
      </svg>
    </button>

    <strong class="modal__title"
      >Оставьте свои данные, мы вам перезвоним</strong
    >
    <form class="modal-form">
      <!-- <label class="modal-form__group">
            <span class="modal-form__description">Имя</span>
            <input class="modal-form__input" type="text" name="client-name" required />
            <svg class="modal-form__icon" width="18" height="18">
              <use href="./images/icons.svg#form-person"></use>
            </svg>
          </label>
          <label class="modal-form__group">
            <span class="modal-form__description">Телефон</span>
            <input class="modal-form__input" type="phone" name="cliennt-phone" required />
            <svg class="modal-form__icon" width="18" height="18">
              <use href="./images/icons.svg#form-phone"></use>
            </svg>
          </label>
          <label class="modal-form__group">
            <span class="modal-form__description">Почта</span>
            <input class="modal-form__input" type="mail" name="client-mail" required />

            <svg class="modal-form__icon" width="18" height="18">
              <use href="./images/icons.svg#form-email"></use>
            </svg>
          </label>
          <label class="modal-form__group">
            <span class="form-description">Комментарий</span>
            <textarea
              name="comment"
              id="formComment"
              class="modal-form__input-comment"
              placeholder="Введите текст"
            ></textarea>
          </label>
          <input
            type="checkbox"
            name="user-policy"
            class="modal-form__checkbox sr-only"
            id="checkbox-policy"
            required
          />
          <label for="checkbox-policy" class="modal-form__checkbox-policy">
            Соглашаюсь с рассылкой и принимаю
            <a class="modal-form__policy-link" href="#"> Условия договора </a>
          </label> -->

      <button class="modal-form__submit-button" type="submit">Отправить</button>
    </form>
  </div>
</div>
<script src="./js/modal.js"></script>
<script src="./js/menu.js"></script>


