<!-- products -->

<section id="products" class="section section-products">
  <div class="container container-products">
    <p class="products__label">100% natural</p>
    <h2 class="container-products__title">products</h2>
    <ul class="list products__list">
      <li class="item products__item item__cream">
        <h3 class="products-item__title">ice cream</h3>
        <div class="products__dots">
          <svg class="dots__icon" height="6" width="6">
            <use href="./images/sprite.svg#icon-icon-ellipse-white"></use>
          </svg>
        </div>
        <p class="products-item__description">
          The sun is shining and what more could you need than a double scoop of
          strawberry’s ice cream. The best remedy agains heat!?
        </p>
        <button
          class="products-item__button"
          type="button"
          data-modal-icecream-open
        >
          <svg class="button__icon" height="10" width="10">
            <use href="./images/sprite.svg#icon-icon-arrow-pink"></use>
          </svg>
        </button>
      </li>

      <li class="item products__item item__coffee">
        <h3 class="products-item__title">ice coffee</h3>
        <div class="products__dots">
          <svg class="dots__icon" height="6" width="6">
            <use href="./images/sprite.svg#icon-icon-ellipse-white"></use>
          </svg>
        </div>
        <p class="products-item__description">
          Made by our experts to bring the coffee shop experience to your door,
          our latest Ice Coffee range consists of products, the deliciously rich
          iced cappuccino and the irresistible iced latte
        </p>
        <button class="products-item__button" type="button">
          <svg class="button__icon" height="10" width="10">
            <use href="./images/sprite.svg#icon-icon-arrow-pink"></use>
          </svg>
        </button>
      </li>

      <li class="item products__item item__milkshakes">
        <h3 class="products-item__title">milkshakes</h3>
        <div class="products__dots">
          <svg class="dots__icon" height="6" width="6">
            <use href="./images/sprite.svg#icon-icon-ellipse-white"></use>
          </svg>
        </div>
        <p class="products-item__description">
          Indulge yourself with a sweet beverage made by blending milk,ice cream
          and sweeteners such as caramel sauce and chocolate syrup!
        </p>
        <button class="products-item__button" type="button">
          <svg class="button__icon" height="10" width="10">
            <use href="./images/sprite.svg#icon-icon-arrow-pink"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
